%h2 
  Jobs

.jobs
  - if @jobs.none?
    %p No jobs.

  - else 
    %table.table
      %thead
        %tr
          %th
            = sort_by("state")        
          %th 
            = sort_by("type")
          %th
            Target
          %th
            = sort_by("created_at")
          %th{:colspan => 2}
            = sort_by("updated_at")
      %tbody
        = render_partial "jobs/job", :collection => @jobs

    = will_paginate @jobs

:javascript
  function activeJobs() { 
    return $('tr.queued, tr.running').size() > 0;
  }

  function updateJobs() { 
    var url = '/jobs.js'
    	,q  = window.location.href.split(/\?/)[1];

    if(q) url += '?' + q;

    $.get(url, function() { 
      if(activeJobs()) 
        setTimeout(updateJobs, 5000);
    });
  }

  updateJobs();
