#auth-fields
  -#= bootstrap_select_tag "Account", :options => [["client_1", 1],["number2", 2]], :include_blank => true

  -# -# margin like .form-horizontal .control-group .controls
  -# %div{:style => "margin:0 0 18px 160px; #{"display:none" if auth = show_auth_fields?(auth_fields.object)}"}
  -#   = link_to "Edit usernames and password", "#"

  #usernames-and-password{:style => "#{"display:none" unless auth}"}
    = auth_fields.text_field :username
    = auth_fields.text_field :shortname
    = auth_fields.text_field :password
