- form_tag url(:search), :method => :get, :class => "form-horizontal" do  
  #search.modal{:style => "display:none"}
    .modal-header
      = link_to "&times;", :class => "close", :data => { :dismiss => "modal" }
  
      %h3
        Search
    
    .modal-body
      = bootstrap_select_tag :state, :options => job_state_options, :include_blank => true, :class => "input-small", :selected => params[:state]
      = bootstrap_select_tag :type, :options => job_type_options, :include_blank => true, :class => "input-small", :selected => params[:type]
      = bootstrap_text_field_tag :target, :value => params[:target]
      = bootstrap_select_tag :priority, :options => Options::PRIORITIES, :include_blank => true, :class => "input-small", :selected => params[:priority]

      .control-group
        %label.control-label{:for => "_updated_at_from"}
          Date:
        .controls          
          = text_field_tag :_updated_at_from, :id => "_updated_at_from", :class => "input-small", :value => params[:_updated_at_from]
          = hidden_field_tag :updated_at_from, :id => "updated_at_from", :value => params[:updated_at_from]
          = text_field_tag :_updated_at_to, :id => "_updated_at_to", :class => "input-small", :value => params[:_updated_at_to]
          = hidden_field_tag :updated_at_to, :id => "updated_at_to", :value => params[:updated_at_to]

      %div{:style => "float:right"}
        = link_to "Clear all fields", "#", :id => "clear_search_fields_link"
  
    .modal-footer
      = submit_tag "Search", :class => "btn btn-primary"
      = button_tag "Cancel", :class => "btn", :data => { :dismiss => "modal" }
