- title "Configuration"

%h2 Configuration
  
= form_for @config, :config, :class => "form-horizontal" do |f|    

  - if @config.allow_select_transporter_path
    = f.file_browser_field :path, :label => "Transporter", :data => { :title => "Transporter" }

  = f.text_field :username
  = f.text_field :password
  = f.text_field :shortname

  -# If \D value will be 0
  = f.rate_field
  = f.select_transport

  = f.actions do
    = f.submit "Save"  

= partial "shared/file_browser"

