- content_for(:title) do
  Configuration

%h2 
  Configuration
  
= form_for @config, :config, :class => "form-horizontal" do |f|    

  - if settings.allow_select_transporter_path?
    = f.file_browser_field :path, :label => "Transporter", :data => { :title => "Transporter" }

  = f.text_field :username
  = f.text_field :password
  = f.text_field :shortname

  = f.rate_field
  = f.select_transport

  = f.actions do
    = f.submit "Save"  

