- content_for(:title) do
  Configuration

%h2
  Configuration

%ul.nav.nav-tabs
  %li.active
    = link_to "Transporter", "#transporter", :data => {:toggle => "tab"}
  %li
    = link_to "Accounts", "#accounts", :data => {:toggle => "tab"}
  %li
    = link_to "Notifications", "#notifications", :data => {:toggle => "tab"}

.tab-content
  #transporter.tab-pane.active
    = form_for @config, :config, :class => "form-horizontal" do |f|
      - if settings.allow_select_transporter_path?
        = f.file_browser_field :path, :label => "Location", :data => { :title => "Transporter" }

      = f.rate_field
      = f.select_transport

      = f.select "Status check time", :options => (0..23).map { |i| sprintf "%02d", i }, :style => "width: 42px"

      = f.actions do
        = f.submit "Save"

  #accounts.tab-pane
    - if @accounts.none?
      %p
        No accounts have been created.
        = link_to "Create one", url(:accounts)

    - else
      .actions(style="text-align: right;padding-bottom: 4px;")
        %i.icon-user
        = link_to "New Account", url(:accounts)

      %table.table
        %thead
          %tr
            %th
              Username
            %th
              Shortname
            %th{:colspan => 2}
              Alias

        %tbody
          - @accounts.each do |account|
            %tr[account]
              %td
                = account.username
              %td
                = account.shortname
              %td
                - if account.alias.blank?
                  &mdash;
                - else
                  = account.alias

              %td{:style => "text-align: right"}
                = check_box_tag "foo"
                Notify
                &nbsp;

                = link_to "Edit", url(:account, account.id), :class => "btn btn-mini"
                = link_to "Delete", url(:account_delete, account.id, :format => "js"), :class => "btn btn-mini btn-danger", :remote => true, :method => "delete"

  #notifications.tab-pane
    - if @notifications.none?
      %p
        No notifications have been created.
        = link_to "Create one", url("notifications/new")

    - else
      .actions(style="text-align: right;padding-bottom: 4px;")
        %i.icon-envelope
        = link_to "New Notification", url("notifications/new")
        %i.icon-wrench
        = link_to "SMTP Settings", url("notifications/config")

      %table.table
        %thead
          %tr
            %th
              Name
            %th
              Account
            %th
              From
            %th{:colspan => 2}
              To

        - @notifications.each do |notification|
          %tbody
            %tr[notification]
              %td
                = notification.name
              %td
                = notification.account.username
              %td
                = notification.from
              %td
                = truncate(notification.recipients.join(", "), :length => 50)
              %td{:style => "text-align: right"}
                = link_to "Edit", url(:notifications, :id => notification.id), :class => "btn btn-mini"
                = link_to "Delete", url(:notifications, :id => notification.id, :format => "js"), :class => "btn btn-mini btn-danger", :remote => true, :method => "delete"
