%h2
  Lookup Metadata

%p 
  Retrieve the metadata for a previously uploaded package. 

- form_for @options, :lookup, :class => "form-horizontal" do |f|      
  .control-group{:class => @options.errors.include?(:package_id_value) ? "error" : ""}
    %label.control-label.select-label
      = select_tag "lookup_form[package_id]", :options => [["Vendor ID", :vendor_id], ["Apple ID", :apple_id]]
    .controls
      = text_field_tag "lookup_form[package_id_value]", :value => @options.package_id_value
      = error_message_on @options, :package_id_value, :tag => "span", :class => "help-inline"

  = f.select_priority

  = partial "shared/auth_fields", :object => f

  = f.actions do 
    = f.submit "Lookup"
