- content_for(:title) do
  Providers

%h2
  Providers

%p
  Retrieve a list of providers that you're authorized to deliver for.

= form_for @options, :providers, :class => "form-horizontal" do |f|
  = f.select_priority
  = f.select_account account_options(@accounts)

  = f.actions do
    = f.submit "List Providers"
