%h2 
  Schema

%p 
  Retrieve a schema that can be used to validate your package's metadata.

= form_for @options, :schema, :class => "form-horizontal" do |f|
  = f.select :version_name, :options => %w[film tv]
  = f.text_field :version_number
  = f.select :type, :options => %w[transitional strict]

  = partial "shared/auth_fields", :object => f

  = f.actions do 
    = f.submit "Retrieve Schema"
