- content_for :title do
  Upload

%h2
  Upload

%p
  Upload a package to the iTunes Store.

= form_for @options, :upload, :class => "form-horizontal" do |f|
  = f.file_browser_field :package, :data => { :title => "Package" }
  = f.check_box :batch, :label => "Batch upload"

  = f.rate_field
  = f.select_transport
  = f.check_box :delete, :label => "Delete on success", :value => "true", :uncheck_value => "false", :help_block => "This will delete the package and all of its files"

  = f.file_browser_field :success, :label => "On success, move to", :prompt => "Select Directory", :data => { :title => "Success Directory" }
  = f.file_browser_field :failure, :label => "On failure, move to", :prompt => "Select Directory", :data => { :title => "Failure Directory" }

  = f.select_priority
  = f.select_account account_options(@accounts)

  = f.file_browser_field :execute, :label => "On completion, execute", :prompt => "Select Program", :data => { :title => "Program to Execute" }

  = f.actions do
    = f.submit "Upload"
