- content_for :title do
  Verify

%h2
  Verify

%p
  Validate your package's assets and metadata against the appropriate iTunes spec.

= form_for @options, :verify, :class => "form-horizontal" do |f|
  = f.file_browser_field :package, :data => { :title => "Package" }
  = f.check_box :batch, :label => "Batch verify"
  = f.check_box :verify_assets, :value => "true", :uncheck_value => "false", :label => "Verify assets", :help_block => ""
  = f.select_priority
  = f.select_account account_options(@accounts)

  = f.actions do
    = f.submit "Verify"
