!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %title
      - if content_for?(:title)
        &= yield_content(:title)
        \-
      iTunes Store Transporter GUI

    = csrf_meta_tags
    = stylesheet_link_tag "bootstrap.min", "jquery-ui-1.9.2.custom.min", "jqueryFileTree", "main"
    = javascript_include_tag "jquery", "jquery-ujs", "jquery-ui-1.9.2.custom.min.js", "bootstrap.min", "jqueryFileTree", "application"

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to "iTunes Store Transporter: GUI", url("/"), :class => "brand"

          .nav
            %span.sep
              = link_to "Jobs", url(:jobs)
              = link_to "Search", "#search", :data => { :toggle => "modal" }

            = link_to "Upload", url(:upload)
            = link_to "Verify", url(:verify)
            = link_to "Lookup", url(:lookup)
            = link_to "Status", url(:status)
            = link_to "Schema", url(:schema)
            = link_to "Providers", url(:providers)
            = link_to "Config", url(:config)

    .container
      %noscript
        = alert("Hey! This site requires JavaScript. Without it, things won't work.")

      = flash_messages
      = yield

    %footer
      %p{:style => "text-align:center"}
        %small
          v#{ITunes::Store::Transporter::Web::VERSION}

    = partial "shared/search_form", :locals => { :accounts => @accounts }
